

/* Ficha del club */
.cardClub{
  border: 1px solid black;
  padding-bottom: 10px;
  border-radius: 100px;
  text-align: center;
  margin: 10px 5px;
  flex: 23%
}
/* .linkBtn{
  margin-left: 60px;

} */
