
body{
  background: white url('./betoon-back.png') no-repeat fixed center /cover;
  background-position-y: 0px;
}

/*Clases generales*/


.pos{
  width: 400px;
  margin: 25px;
  padding: 20px;
  border: 2px solid black
}

.marg-top{
  margin-top: 20px
}

.marg-bot{
  margin-bottom: 40px
}

.marg-top-bot{
  margin-top: 20px;
  margin-bottom: 20px;
}

.marg-lat{
  margin-left: 15px;
  margin-right: 15px
}

.marg{
  margin: 15px
}

.img-marg{
  margin-bottom: 10px
}

.pointer {
  cursor: pointer; 
}

.center{
  text-align: center
}

/* Ficha del club */
.cardClub{
 color: white;
  padding-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 5px;
  flex: 23%;

  
}

/* NavBar and Links */

.nav-small{
  color: #5DE520;
  font-weight: bold
}

nav{
  font-size: 1.3em
}

.bg-dark{
  background-color: black!important
}

.bg-light{
  background-color: black!important
}

.links-nav{
  color: white;
  font-size: .8em
}

nav a:visited{
  text-decoration: none;
  color: white;
}

nav a:hover{
  text-decoration: none;
  color: grey
}


/* Home League Box */

h5{
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
}

.leagues-box{
  position: relative;
  left: 65%;
  width: 25%;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 5%;
  opacity: .9;
}

.leagues-box ol{
  line-height: 2em;
}

.league-list{
  margin: 10px 0;
  background: #6c757d;
  padding: 5px;
  font-weight: bold;
}

/* Forms Class */

.signup-form{
  width: 90%;
  display: flex;
  font-size: .9em;
  justify-content: left
}

.labels{
  display: inline-block;
  margin-bottom: .5rem;
  margin-right: 10%;
  padding: 7.5px 15px;
}

.form-btn{
  margin: 30px auto 10px auto;
  width: 40%;
  display: block;
  color: white;
  font-weight: bold;
  background-color: #2DEB11;
  border: none;
  border-radius: 10%;
}
.form-btn-err{
  margin: 20px auto 10px auto;
  width: 40%;
  display: block;
  color: white;
  font-weight: bold;
  background-color: #2DEB11;
  border: none;
  border-radius: 10%;
}

.register-btn{
  background-color: #2DEB11;
  border-radius: 10%;
  border: none;
  color: white;
  font-size: .7em;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold
}

.login-btn{
  background-color: black;
  color: white;
  border: none;
  font-size: .8em;
  margin-left: 10px;
  margin-right: 10px
}

.warning-msg{
  padding: 7.5px 15px;
  margin: 10px 0 0 0;

}

.warn{
  display: flex;
  margin: 10px;
  text-align: center;
  justify-content: center;
}

.warn p{
  margin: 0px;
  padding-top: 7px;
  font-size: .9em
}

.warn img{
  width: 8%;
  margin-right: 2px;
}

.modal-content{
  border: none!important;
  top: 100px!important;
  background-color: #1f1f1f!important;
}

.home{
  font-size: 2em
}

nav button{
  height: 35px;
}

.navbar-nav{
  align-items: center;
}

.modal-header{
  border: none!important;
  /* padding: 0px!important */
}

.modal-header span{
  color: white;
}

/* home info */

.carousel{
  position: relative;
  text-align: center;
  color: white;
  background-color: dimgrey;
  font-size: 1.3em;
  padding: 5px;
  
}

.offer{
  position: relative;
  text-align: center;
  color: white;
  background-color: #2DEB11;
  font-size: .7em;
  padding: 5px;
  font-weight: bold
}

.tick-pos{
  display: flex;
  font-size: .7em;
  text-align: center
}

/* Tables */

.clubs-title{
  color: white
}



.border{
  border: 3px solid #2DEB11!important;
  text-align: center;
  border-radius: 25%;
  color: white;
  font-size: .8em;
  background-color: darkgrey;
}

.tables{
  background-color: black;
  border-radius: 2%;
}

.tables tr,td{
  color: white;

}

.row{
  margin-right: 30px!important;
  margin-left: 30px!important;
}

.white-let tr, td{
  color: white
}

/* Club Links */

td a{
  color: black
}

td a:visited{
  text-decoration: none
}

td a:hover{
  text-decoration: none;
}

/* Apuestas */
.idMacht{
display:none;
}
.apuModal{
  color: white;
}
.apu{
border: 1px solid black;
border-radius: 10px;
text-align: center
}
.timeM{
text-align: center
}

.timeM th{
  border-bottom: 1px solid #1f1f1f!important;
  border-top: none!important
}

.timeM td{
  border-bottom: 1px solid #3f3f3f!important;
  border-top: none!important
}

.timeM th button{
  color: white;
}

.timeM th button:hover{
  color: dimgray
}

.cont-bets{
  justify-content: space-around;
  display: flex

}

.bets{
  padding: 25px 40px;
  display: inline;
  border: 1px solid black;
  border-radius: 100%;
  font-size: 1.4em;
  background-color: dimgray;
  border-color: #2DEB11
}

/* Profile */

.card-info{
  display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #2DEB11;
    text-align: center;
    justify-content: center;
}

.card-form{
  width: 40%;
  margin-left: 18%;
}

.date-form label{
  margin-right: 3%
}

.card-btn{
  background-color: #2DEB11;
  color: white;
  border: none;

}

.add-card{
  color: black;
}

.add-other-card{
  background-color: transparent;
  border: none;
  padding: 0px;
}

.botones button:hover{
  color: white
}

.card-info button:hover{
color:dimgray
}

.card-info p{
  color: white;
  margin-bottom: 0px
}

/* VIDEO BACKGROUND */
.video-header {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: -100;
}
.vid {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   height: auto;
   min-width: 100%;
   min-height: 100%;
   -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}
@media (max-width: 760px) {
 .video-header {
   background: url('./components/campofoto.png') center center / cover no-repeat;
 }
 .vid {
   display: none;
 }
}

/* Vista privada */
.botones{
  padding: 40px 0px;
}

.bg{
  background: white url('./ih.JPG') no-repeat fixed center /cover;
  height: 100vh;
}

.chart2{
  padding-left: 120px;
  padding-top: 30px;
  
}