nav ul,li{
  list-style-type: none;
}

/*Clases generales*/
.opacity{
  background-color: white;
  opacity: .8;
}

.pos{
  width: 400px;
  margin: 25px;
  padding: 20px;
  border: 2px solid black
}

.marg-top{
  margin-top: 20px
}

.marg-top-bot{
  margin-top: 20px;
  margin-bottom: 20px;
}

.marg-lat{
  margin-left: 15px;
  margin-right: 15px
}

.marg{
  margin: 15px
}

.border{
  border: 1px solid black;
  text-align: center
}

.img-marg{
  margin-bottom: 10px
}

.pointer {
  cursor: pointer; 
 }

.center{
  text-align: center
}

/* Ficha del club */
.cardClub{
  border: 1px solid black;
  padding-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 5px;
  flex: 23%;
  
}

/* NavBar Links */

.links-nav{
  color: white;
}

nav a:visited{
  text-decoration: none;
  color: white;
}

nav a:hover{
 text-decoration: none;
 color: grey
}

/* Menu Links */

/* .links-menu{
  color: black;
}

.links-menu-box{
  border: 1px solid black;
  width: 10%;
  font-size: .8em;
  background-color: white;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 10.4%;
  z-index: 100;
  
}

.menu-in{
    transform: translateX(0);
}

.menu-out{
  transform: translateX(-100%);
  transition: linear .5s;
}

.links-menu-box a:hover{
  text-decoration: none;
  color: grey

} */

/* Club Links */

td a{
  color: black
}

td a:visited{
  text-decoration: none
}

td a:hover{
  text-decoration: none;
}

/* .linkBtn{
  margin-left: 60px;

} */


/* Apuestas */
.idMacht{
display:none;
}

.apu{
border: 1px solid black;
border-radius: 10px;
text-align: center
}
.timeM{
text-align: center
}
.cont-bets{
  justify-content: space-around;
  display: flex

}

.bets{
  padding: 25px 40px;
  display: inline;
  border: 1px solid black;
  border-radius: 100%;
  font-size: 1.4em
}

/* VIDEO BACKGROUND */
.video-header {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: -100;
}
.vid {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   height: auto;
   min-width: 100%;
   min-height: 100%;
   -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}
@media (max-width: 760px) {
 .video-header {
   background: url('./components/campofoto.png') center center / cover no-repeat;
 }
 .vid {
   display: none;
 }
}

/* Vista privada */
.botones{
  padding: 40px 0px;
}